/.idea
/composer.phar
/vendor
/core
/local
/site/admin
/web/node_modules
/web/admin
/web/assets/styles/*.css
/web/assets/styles/*.css.map
/web/assets/videos/it-consulting.mp4
/web/downloads/customers
