.block-hero {
  margin-top: 2rem;
  @include media-breakpoint-up(md) {
    margin-top: 15lvh;
  }
  .hero-brand {
    width: 32rem;
    max-width: 100%;
    margin-bottom: 2rem;
    padding-right: 1rem;
  }
  nav.navbar {
    margin-bottom: 5rem;
  }
}