.block-pink-fancy {
  background: radial-gradient(ellipse at 100% -50%, $pink-1 50%, $pink-2 100%);
  margin-top: -100px;
  color: $white;

  h2 {
    margin-top: 0;
    font-size: 160%;
  }

  .mask-1 {
    width: calc(50% - 75px);
    height: 150px;
    background-color: $body-bg;
    float: left;
  }
  .mask-2 {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, $body-bg 50%,  transparent 50%);
    float: left;
  }
}