$color-st00: #200222;
$color-st01: #442625;
$color-st02: #494949;
$color-st03: #894D2D;
$color-st04: #396B2E;
$color-st06: #6D6D6D;
$color-st07: #516CD4;

$color-st08: #CB534F;
$color-st09: #CD7338;
$color-st10: #929292;
$color-st11: #7EB441;
$color-st12: #7EB4D7;
$color-st13: #D5B896;
$color-st14: #DBDB7C;
$color-st15: #E2FEDE;


