// ATARI ST colors
// names from https://chir.ag/projects/name-that-color/#82492B

$black: #000;
$jaguar: #200223;
$biscay: #222367;
$jon: #402424;
$tundora: #464646;
$nutmeg: #82492B;
$chalet-green: #396B2E;
$dove-gray: #6D6D6D;
$indigo: #516CD4;
$chestnut-rose: #CB534F;
$raw-sienna: #CD7338;
$gray: #929292;
$sushi: #7EB441;
$downy: #7DB4D7;
$cameo: #D5B896;
$chenin: #DBDB7C;
$hint-of-green: #E2FEDE;
$white: #ddd;

$body-color: $gray;
$body-background: $black;
$body-bold-color: $white;
$link-color: $indigo;
$link-hover-color: $hint-of-green;
$brand-color: $link-color;
$navigation-color: $link-color;
$navigation-active-color: $link-hover-color;
$headline-1-color: $raw-sienna;
$headline-2-color: $nutmeg;
$headline-3-color: $cameo;
$headline-4-color: $dove-gray;
