/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2022-03-09
 */

$width-sm: 640px;
$width-md: 1024px;
$grid-gutter-width: 3rem;

.d-flex {
  display: flex;
}

.d-flex-sm {
  @media screen and (min-width: $width-sm) {
    display: flex;
    .flex-col {
      margin-right: $grid-gutter-width;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}