footer {
  padding-top: 8rem;
  padding-bottom: 8rem;
  @include media-breakpoint-down(sm) {
    padding-top: 2 * $spacer;
    padding-bottom: 2 * $spacer;
  }
  p {
    color: $gray-500;
    font-size: $font-size-sm;
  }
  a {
    font-size: $font-size-sm;
    text-decoration: none;
    // color: $gray-600;
    &:hover {
      color: $link-hover-color;
    }
  }
  .legal {
    a {
      color: $gray-600;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  h3 {
    color: $gray-500;
    font-size: $font-size-sm;
    margin-top: 0;
    a {
      color: $gray-500;
    }
  }
}