body {
  text-rendering: geometricPrecision;
}
.animate-fade-in {
  * {
    opacity: 0;
    animation: draw 0.5s ease-out forwards;
  }
  @for $i from 1 through 10 {
    *:nth-child(#{$i}) {
      animation-delay: $i * 0.02s;
    }
  }
}
@keyframes draw {
  to {
    opacity: 1;
  }
}
main {
  margin-top: 8rem;
  @include media-breakpoint-down(lg) {
    margin-top: 7rem;
  }
  @include media-breakpoint-down(md) {
    margin-top: 6rem;
  }
  img {
    max-width: 100%;
  }
}
hr {
  color: $_gray7;
  margin-top: 4rem;
}
pre[class*=language-] {
  background-color: darken($_gray2, 2.2%);
  margin-bottom: 1rem;
}