body {
  text-rendering: geometricPrecision;
}
.animate-fade-in {
  * {
    opacity: 0;
    animation: draw 2s ease-out forwards;
  }
  @for $i from 1 through 10 {
    *:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }
}
@keyframes draw {
  to {
    opacity: 1;
  }
}