body {
  text-rendering: geometricPrecision;
}
.animate-fade-in {
  * {
    opacity: 0;
    animation: draw 1s ease-out forwards;
  }
  @for $i from 1 through 10 {
    *:nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
    }
  }
}
@keyframes draw {
  to {
    opacity: 1;
  }
}
main {
  margin-top: 8rem;
  @include media-breakpoint-down(lg) {
    margin-top: 7rem;
  }
  @include media-breakpoint-down(md) {
    margin-top: 6rem;
  }
}