nav.navbar {
  font-family: 'michroma', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  .navbar-brand {
    img {
      // position: absolute;
      // top: 0.8rem;
      width: 16rem;
      padding: 0.5rem 0.2rem;
      margin-right: 0.4rem;
      /*
      @include media-breakpoint-up(lg) {
        margin-right: 2rem;
      }
       */
    }
  }
}
header nav.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}