header {
  nav {
    .nav-link {
      // text-transform: lowercase;
      // color: $white;
      font-weight: 300;
      font-size: 1.3rem;
      margin-right: 1.4rem;
      &.active {
        // color: $cyan-project !important;
      }
    }
  }
}