/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2022-03-09
 */

body {
  background-color: $body-background;
  color: $body-color;
  font-family: "Atari ST 8x16 System Font", sans-serif;
  font-size: 20px;
  line-height: 1.3;

  b, strong {
    color: $white;
    font-weight: normal;
  }

  nav, main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
  }

  nav {
    overflow: hidden;
    color: $dove-gray;

    .nav--navbar {
      float: left;

      li {
        float: left;
        padding: 0.1rem 0 0.5rem 0;

        &::before {
          content: "//";
        }

        &:first-child::before {
          content: none;
        }

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $navigation-color;
          margin-right: 0.6rem;

          &:hover, &.active {
            color: $navigation-active-color;
          }
        }
      }
    }
  }

  main {
    clear: left;
    margin-bottom: 10rem;
    @media screen and (max-width: $width-sm) {
      margin-bottom: 0;
    }

    section {
      max-width: 50rem;
    }

    .big {
      font-size: 280%;
      @media screen and (max-width: $width-sm) {
        margin-top: 2rem;
      }

      a {
        text-decoration: none;
        // color: $headline-1-color;
      }
    }

    a {
      color: $link-color;
      text-decoration: none;

      &:hover, &:active {
        color: $link-hover-color;
      }
    }

    h1, h2, p, ul, ol, pre {
      margin-bottom: 2rem;
    }

    h3, h4 {
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 170%;
      color: $headline-1-color;
      // text-transform: uppercase;
      margin-top: 3rem;
      @media screen and (max-width: $width-md) {
        margin-top: 2rem;
      }
      @media screen and (max-width: $width-sm) {
        margin-top: 1rem;
      }
    }

    h2 {
      margin-top: 3rem;
      font-size: 130%;
      color: $headline-2-color;
      // text-transform: uppercase;
      @media screen and (max-width: $width-sm) {
        margin-top: 0;
      }
    }

    h3 {
      font-size: 105%;
      color: $headline-3-color;
    }

    h4 {
      font-size: 100%;
      color: $headline-4-color;
    }

    p {
    }

    blockquote {
      font-style: italic;
      color: $dove-gray;
    }

    code {
      font-family: "Atari ST 8x16 System Font", sans-serif;
      color: $downy;
    }

    pre {
      // background-color: $biscay;
      padding: 1rem;
      overflow-y: scroll;
      // border: 1px solid $biscay;
      background-color: $biscay;
    }

    ul {
      margin-left: 1.25rem;

      li {
        text-indent: -1.25rem;

        &::before {
          content: "- ";
        }
      }
    }

    ol {
      margin-left: 2.3rem;
      list-style: decimal;

      li {
        // text-indent: -0.2rem;
      }
    }
  }

  footer {
    margin-bottom: 3rem;
    @media screen and (max-width: $width-sm) {
      margin-bottom: 1rem;
    }

    li {
      float: left;
      margin-right: 3rem;
    }

    a {
      text-decoration: none;
      color: $tundora;

      &:hover, &.active {
        color: $link-hover-color;
      }
    }
  }

  &.dev {
    div, nav, main {
      // outline: 1px transparentize($white, 0.90) dashed;
    }
  }

  table {
    margin-bottom: 1rem;
    th {
      color: $body-bold-color;
    }
    td, th {
      padding-right: 1rem;
    }
  }
}



::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  background: $biscay;
}
::-webkit-scrollbar-thumb {
  background: $indigo;
}
