body {
  line-height: 1.5;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $_gray5;
  font-size: 1.58rem;
  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.3rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}

h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  @include media-breakpoint-down(md) {
    font-size: 1.15rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.1rem;
  }
  color: $_gray5;
}

h4 {
  font-size: 1rem;
  color: $_gray5;
}

strong, b {
  // color: $color-st13;
}
/*
a {
    text-decoration-color: $secondary;
    text-decoration-thickness: 2px;
  &:hover {
    // text-decoration-color: $_beige;
    // text-decoration-thickness: 2px;
  }
}*/