/**
 * @author Stefan Haack (https://shaack.com), all rights reserved
 */
@each $name, $value in $grid-breakpoints {
  .max-width-#{$name} {
    max-width: $value;
  }
}
.py-6 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
body *:hover {
  // outline: 1px rgba(0, 0, 0, 0.2) solid;
}

