/**
 * @author Stefan Haack (https://shaack.com), all rights reserved
 */

$font-family-base: 'Open Sans', sans-serif;
$font-family-monospace: 'Courier New', 'Courier', monospace;
// $font-size-base: 16px;
$line-height-base: 1.2;
$body-bg: $_gray1;
$body-color: $_light_blue;
$navbar-dark-color: $_gray4;
$navbar-dark-hover-color: $_beige;
$navbar-dark-active-color: $_beige;
$enable-smooth-scroll: false;  ;
$dark: $_gray2;
$body-secondary-color: $_gray3;