/**
 * @author Stefan Haack (https://shaack.com), all rights reserved
 */

$font-family-base: 'Open Sans', sans-serif;
$font-family-monospace: 'Atari ST 8x16 System Font', monospace;
$body-bg: $blue-light-project;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $cyan-project;
$navbar-dark-active-color: $cyan-project;