/**
 * @author Stefan Haack (https://shaack.com), all rights reserved
 */

$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'michroma', sans-serif;
$headings-color: $color-st13;
  // $font-size-base: 16px;
$line-height-base: 1.2;
$font-size-base: 1.1rem;

$primary: $color-st07;

$body-bg-dark: $_gray2;
$body-color-dark: $_gray6;
$navbar-dark-color: $_gray5;
$navbar-dark-hover-color: $color-st13;
$navbar-dark-active-color: $color-st13;
$enable-smooth-scroll: false;  ;
$dark: lighten($_gray2, 2%);
$body-secondary-color-dark: $_gray3;
// $link-color-dark: $color-st09;
// $link-hover-color-dark: $_light_blue;
$link-decoration: none;
// $link-hover-decoration: underline;